<h1>Join the Site!</h1>

<form method="POST" action="/properties">
    <div>
        <label for="address">Address</label>
        <input type="text" name="address">
    </div>
    <div>
        <label for="landlord">Landlord</label>
        <input type="text" name="landlord">
    </div>
    <div>
        <label for="price">Price</label>
        <input type="text" name="price">
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text" name="description">
    </div>
    <div>
        <label for="homeImage">Image URL</label>
        <input type="text" name="homeImage">
    </div>
    <button type="submit">Add Property</button>

    <button><a href="/properties">back to properties</a></button>
</form>
