<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

  <nav>
    <div class="nav-wrapper style-nav">
      <a href="/" class="brand-logo">
        <i class="material-icons">business</i>
      </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">dehaze</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/users">Users</a>
        </li>
        <li>
          <a href="/users/new">Sign Up</a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/users">Users</a>
        </li>
        <li>
          <a href="/users/new">Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>


  <main>

    {{{body}}}

  </main>

  <footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <h5 class="white-text">Leasr</h5>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2018 Copyright Leasr Inc
        <a class="grey-text text-lighten-4 right" href="/">Home</a>
      </div>
    </div>
  </footer>


  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="/javascripts/app.js"></script>
</body>

</html>