<div class="user-index">
    <h5>
        <a href="users/new">Create a new account</a>
    </h5>

    <div class="container user-container-thumbnail">
        {{#each users}}
        <div class="user-thumbnail">
            <img class="profile" src="{{image}}" />
            <h3>
                <a href="/users/{{_id}}">{{username}}</a>
            </h3>
        </div>
        {{/each}}
    </div>
</div>