body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Noto Sans', sans-serif;
}

main {
  flex: 1 0 auto;
}

nav {
  background: black;
}

/* =================================================== */
/* THIS SECTION IS FOR THE LANDING SCREEN SIGN UP SECTION */

.land-screen {
  height: 100vh;
}

.cover {
  background: rgba(0, 0, 0, .1);
  height: 100vh;
  width: 100vw;
  display: flex;
}

.land-text {
  margin: auto;
  color: white;
  background: rgba(0, 0, 0, .5);
  height: 50%;
  width: 50%;
  padding: 0 30px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
/* THIS IS END OF LANDING SCREEN SIGN UP SECTION */

/* =================================================== */

/* This is for new user form */

.newuser-form-container {
  width: 50%;
  margin: 30px auto;
}

/* =================================================== */
/* SHOW PAGE STYLES */
.show-container {
  margin: 20px 0 0 20px;
  padding: 20px;
}
/* END OF SHOW PAGE STYLES */

a {
  color: inherit;
}

.profile {
  border:1px, solid, black;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

/* =================================================== */
/* USER INDEX PAGE STYLES */
.user-container-thumbnail {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px auto;
}

.user-thumbnail {
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}

/* END USER INDEX PAGE STYLES */

.btn {
  background: black;
  width: 100%;
}

.page-footer {
  background-color: red;
}

/* USER SHOW PAGE */
.user-container {
  width: 100%;
}

.user-show-box {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  height: 20%;
  display: flex;
}

.user-show-box-text {
  margin: auto;
  color: white;
}

.each-user-show-image {
  margin: 20px 0;
}

.show-page-right {
  margin: 20px 40px 0 0;
}

/* END USER SHOW PAGE */

/* PROPERTIES INDEX PAGE */

.property-index {
  margin: 0 40px 0 0;
}

/* END PROPERTIES INDEX PAGE */