body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  background: black;
}

/* THIS SECTION IS FOR THE LANDING SCREEN SIGN UP SECTION */

.land-screen {
  height: 100vh;
}

.cover {
  background: rgba(0, 0, 0, .1);
  height: 100vh;
  width: 100vw;
  display: flex;
}

.land-text {
  margin: auto;
  color: white;
  background: rgba(0, 0, 0, .5);
  height: 50%;
  width: 50%;
  padding: 0 30px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
/* THIS IS END OF LANDING SCREEN SIGN UP SECTION */

/* =================================================== */

/* This is for new user form */

.newuser-form-container {
  width: 50%;
  margin: 30px auto;
}

.show-container {
  margin: 100px auto;
}

a {
  color: #00B7FF;
}

.profile {
  border:1px, solid, black;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.user-container-thumbnail {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user-thumbnail {
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}

.page-footer {
  background-color: red;
}
